body {
    margin: 0;
    padding: 0;
    font-family: sans-serif

}

.div-scroll-me {
    position: relative;
    width: auto;
    height: auto;
    z-index: 45
}

.element-absolute-centered {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.div-section-container {
    position: relative;
    width: auto;
    height: 100vh;
    z-index: 46
}

/*#section1 {
    height: 100vh !important
}*/

#section4 {
    /*height: 150vh !important*/
    /*min-height: 100vh;
    height: auto !important*/
}

.div-section4-normal {
    height: 688px !important
}

/*.div-section4-extended {
    height: 
}*/

.div-section-background-1 {
    background-color: grey
}

.div-section-background-2 {
    background-color: darkgrey
}

.section-heading {
    font-size: 2rem;
    font-weight: bold;
}

.div-section-text {
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    text-align: center;

}

.section-text {
    margin-top: 10px
}


/*navbar*/

#navbar-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 100
}

#navbar {
    position: relative;
    height: 100%;
    background-color: black
}


.div-navbar-link-container {
    position: relative;
    float: right;
    height: 100%;
    width: 10%
}

.div-navbar-link-logo-container {
    position: relative;
    float: left;
    height: 100%;
    width: 12%
}

.div-navbar-link {
    width: 80%;
    height: 60%;
    text-align: center;
    z-index: 101;
    display: none
}

.navbar-text {
    vertical-align: middle;
    color: white;
    font-family: sans-serif
}


/*home section*/

.div-home-hero-text {
    position: absolute;
    top: 100px;
    left: 30%;
    z-index: 60;
    height: 200px;
    width: 600px;
    /*background-color: orange*/
}

.home-hero-text {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.6;
    color: white
}

.home-hero-text-right {
    text-align: right
}

/*image slider*/

.home-slider-image {
    height: 688px;
    width: 1355px;
}

/*modal video*/

.modal-video-control {
    position: absolute;
    top: 500px;
    left: 0;
    right: 0;
    margin: auto;
    height: 100px;
    width: 100px;
    /*border-radius: 50%;*/
    /*background-color: black;*/
    z-index: 60
}
/*centering absolutely positioned element (Shikkediel, 2015)*/

.modal-video-control-icon {
    height: 100px;
    width: 100px;
    opacity: 0.5
}

/*colour picker*/

.div-colour-picker-heading {
    top: 15%;
    width: 40%;
}

.div-colour-picker-container {
    top: 15%;
    width: 75%;
    height: 65%;
    margin: auto;
    /*background-color: blue;*/
    position: relative
}

.div-colour-picker-image {
    top: 15%;
    position: relative;
    width: 100%;
    height: 320px;
    /*background-color: white*/
}

.div-colour-picker-controls-container {
    position: relative;
    top: 12%;
    width: 100%;
    height: 85px;

}

.div-colour-picker-controls {
    position: relative;
    height: 70px;
    width: 420px;
    margin: 0 auto

}

.div-colour-picker-control-wrapper {
    position: relative;
    height: 70px;
    width: 70px;
    float: left
}

.colour-picker-control {
    /*float: left;*/
    height: 64px;
    width: 64px;
    margin: 1px;
    border-radius: 50%;
    /*opacity: 0;*/
    /*display: none;*/
    /*z-index: 1000;*/
    /*background-color: black*/
}

.colour-picker-control-hover {
    border: 2px solid black;
}

.colour-picker-control-active {
    border: 2px solid red;
}

.colour-picker-control-inner {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /*z-index: 900*/
}

.colour-picker-control-black-silica {
    background-color: rgb(3,9,7)
}

.colour-picker-control-silver-metallic {
    background-color: rgb(173,182,189)
}

.colour-picker-control-storm-grey {
    background-color: rgb(66,98,123)
}

.colour-picker-control-blue-pearl {
    background-color: rgb(37,40,85)
}

.colour-picker-control-pure-red {
    background-color: rgb(170,30,41)
}

.colour-picker-control-wr-blue-pearl {
    background-color: rgb(0,74,159)
}
.colour-picker-image {
    
    width: 656px;
    height: 320px;
    opacity: 0;
    transition: all 0.5s ease

}

.colour-picker-image.active {
    opacity: 1
}

.div-colour-button-container {
    position: relative;
    margin: 0 auto;
    top: 17%;
    height: 45px;
    width: 320px
}


.div-colour-button {
    position: relative;
    text-align: center;
}



.div-colour-button-cta {
    float: left;
    height: 45px;
    line-height: 45px;
    background-color: black;
    width: 150px;
    color: white

}

.div-colour-button-specs {
    float: right;
    height: 39px;
    line-height: 39px;
    width: 144px;
    border: solid 3px black;
}

/*center text vertically using 'line-height'
(w3schools.com)
(Coyier, 2009)*/


/*features interactive image*/

.div-features-interactive-image {
    height: 60%;
    width: 60%;
    background-color: black;
    z-index: 47;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: 10%
}

/*overlay div on image (Farrugia, 2014)*/ 

.div-features-interactive-image-container {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 48
}

.div-features-content {
    height: 100%;
    width: 100%;
    z-index: 50;
    /*opacity: 0.5;*/
    bottom: 0px;
    position: absolute;
    display: none;
    cursor: crosshair
    /*cursor: url("/assets/images/features/icon-close.svg"), auto*/
    /*padding: 10%*/
}

.div-features-content-container {
    height: 70%;
    width:80%
}

.features-deativate {
    position: absolute;
    opacity: 0;
    top: 0px;
    right: 0px;
    height: 30px;
    width: 30px
    
}

.features-interactive-image {
    position: absolute;
    width: 802px;
    height: 412px;
    z-index: 49
}

.features-interactive-image-icon {
    position: relative;
    z-index: 50;
    width: 50px;
    height: 50px
}

.features-interactive-image-icon-1 {
    top: 100px;
    left: 250px;
}

.features-interactive-image-icon-2 {
    top: 200px;
    left: 450px
}

.div-features-interactive-heading {
    top: 12%;
    width: 50%
}

.features-content-text {
    color: white
}



/*specs*/
.div-specs-container {
    top: 5%;
    width: 75%;
    height: 80%;
    margin: 0 auto;
    position: relative

}

.div-specs-header {
    /*height: 10%;*/
    height: 68px;
    width: 100%
}

.div-specs-keyfeatures-container {
    /*height: 30%;*/
    height: 400px;
    width: 100%
}

.div-specs-top-level-menu-container {
    width: 100%;
    height: 60px;
    position: relative
}

.div-specs-top-level-menu {
    float: left;
    /*display: grid;*/
    /*margin: 0 auto;*/
    /*top: 10%;*/
    /*grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 1rem;*/
    position: relative;
    /*height: 10%;*/
    height: 60px;
    width: 75%;
    /*background-color: lightblue*/

}

.div-specs-top-level-menu-side-panel {
    width: 12.5%;
    height: 100%;
    position: relative;
    float: left
    
}

/*.div-specs-top-level-menu {
    display: table;
    position: relative;
    top: 5%;
    height: 15%;
    width: 75%;
    margin: 0 auto;
    background-color: lightblue
}*/

.div-specs-top-level-menu-button-container {
    position: relative;
    float: left;
    width: 25%;
    height: 100%
}

.div-specs-content-close {
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;

    background-color: black

}

.div-specs-top-level-menu-button {
    /*display: table-cell;*/
    height: 100%;
    width: 90%;
    background-color: lightblue 
}



.div-specs-content-container {
    display: none;
    margin: 0 auto;
    /*height: 70%;*/
    height: 485px;
    width: 75%;
    background-color: lightcyan
}

.div-specs-content-container * {
    display: none
}

.div-specs-second-level-menu-container {
    height: 100%;
    width: 30%;
    float: left
}

.div-specs-sub-menu {
    display: none;
    height: 100%;
    width: 100%;
}

div[class*= "specs-sub-menu-category"] {
    display: none;
    height: 100%;
    width: 100%
}

.div-specs-sub-menu-category-button {
    width: 100%;
    height: 100px !important;
    margin-bottom: 10px
}


.div-specs-sub-menu-category1 {
    /*background-color: red*/
}

.div-specs-sub-menu-category1-button {
    background-color: red;
}

.div-specs-sub-menu-category2 {
    background-color: black
}

div[class*= "specs-sub-menu-category"].active {
    display: block
}


.div-specs-second-level-menu {
    display: inline-block;
    zoom: 1;
    *display: inline;
    position: relative;
    width: 100%;
    height: 100%
}

.div-specs-second-level-menu1 {
    background-color: lightcyan;
}

.div-specs-second-level-menu2 {
    background-color: red;
}

.div-specs-second-level-menu3 {
    background-color: green;
}

.div-specs-second-level-menu4 {
    background-color: black;
}

.div-specs-second-level-menu5 {
    background-color: yellow;
}

.div-specs-second-level-content {
    height: 100%;
    width: 70%;
    background-color: lightsteelblue;
    float: left;
}

.div-specs-content-item {
    display: none;
    width: 100%;
    height: 100%
}

/*div[class*=specs-content-category] {
    display: none;
    width: 100%;
    height: 100%
}*/

div[class*=specs-content-category].active {
    display: block
}

.div-specs-content-category1-item1 {
    background-color: blue
}

.div-specs-content-category1-item2 {
    background-color: orange
}


