body {
    margin: 0;
    padding: 0
}

.div-scroll-me {
    width: auto;
    height: auto
}

.element-absolute-centered {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.div-section-container {
    position: relative;
    width: auto;
    height: 100vh
}

.div-section-background-1 {
    background-color: grey
}

.div-section-background-2 {
    background-color: darkgrey
}


.home-slider-image {
    height: 768px;
    width: 1366px
}

.div-colour-picker-container {
    top: 15%;
    width: 75%;
    height: 65%;
    margin: auto;
    /*background-color: blue;*/
    position: relative
}

.div-colour-picker-image {
    position: relative;
    width: 100%;
    height: 80%;
    /*background-color: white*/
}

.div-colour-picker-controls-container {
    position: relative;
    width: 100%;
    height: 20%;

}

.div-colour-picker-controls {
    position: relative;
    height: 70px;
    width: 420px;
    margin: 0 auto

}

.colour-picker-control {
    float: left;
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    background-color: black
}

.colour-picker-image {
    
    width: 656px;
    height: 320px;
    opacity: 0;
    transition: all 0.3s ease

}

.colour-picker-image.active {
    opacity: 1
}